{{ define "main" }}
<div class="wrapper post">
    <main class="page-content" aria-label="Content">
        <article>
            <header class="header">
                <h1 class="header-title">{{ .Title }}</h1>
            </header>
            <div class="page-content">
                {{ .Content }}
                <span>
                    You can edit this exercises on <a href="{{ .Param "exercises" }}">Github</a>  
                </span>
            </div>
        </article>
    </main>
    {{ partial "copy-code.html" . }}
</div>
{{ end }}