{{ define "main" }}
<div class="wrapper post">
    <main class="page-content" aria-label="Content">
        <article>
            <header class="header">
                <h1 class="header-title">{{ .Title }}</h1>
            </header>
            <div class="page-content">
                <span>
                </span>
                {{ .Content }}
                <br />
                <br />
                If something is wrong in this page, <a href="{{ .Param "pageSource" }}">edit this page on GitHub</a>
            </div>
        </article>
    </main>
    {{ partial "copy-code.html" . }}
    {{ partial "styles/button-list.html" . }}
</div>
{{ end }}